@mixin base-card(){
    .main-text {
        text-align:justify; }
    .btn {
        margin-right:3rem;  }
}

@mixin card {   
        @include base-card; 
        @content;
}

@mixin cardArticle(){
    
        @include base-card;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:2rem;
        
        .main-content {
            max-height:1.6 * 4em;
            overflow-y: hidden;
            margin-bottom:1em;  }

        @content;
}

.card-article {
    @include cardArticle;   }

.card {
    @include card;  }