@mixin base-card(){
    .description {
        text-align:justify; }
    button {
        margin-right:3rem;  }
}

@mixin card {   
    .card{
        @include base-card; 
        @content;   }
}

@mixin cardArticle(){
    .card-article {
        @include base-card;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:2rem;
        //aside:first-child{ margin-left:1rem;}
        .main-content {
            max-height:1.6 * 4em;
            overflow-y: hidden;
            margin-bottom:1em;
        }
        @content;
    }
}