@mixin defaultTypography {

    body {
        font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        line-height:1.5;    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
        line-height: 1.2;
        margin-block-start: 0;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px; }

}