include ../_config
include blocks/_menu
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/style.css")
        title= siteTitle
    body
        header.header.wrapper
            .wrapper
                img.logo(src="/assets/img/user.svg" alt="@efscomplex")
                h1.author= author
            nav
                +menu(routes).menu
            i.fab.fa-facebook
            input.search(placeholder="find articles")
        main.main
            block main
        aside.aside
            block aside
        footer.footer
            block footer
        block scripts
            script(src="js/index.js")        