- siteTitle = "Grid Templates"
- pageTitle = "Enjoy the great Templates"
- author = "@efscomplex"
- 
    routes = [
        {path:"/pug/views/home.html",label:"Home"},
        {path:"/pug/views/about.html",label:"About Us"},
        {path:"/pug/views/contact.html",label:"Contact"},
    ]