@import 'utils/color-vars';

@mixin colorTheme {
    body {
        @include getColorTheme;
        background-color:#222;
        color:var(--text);
        .header {
            background-color:var(--primary);
        }    
    }
    .btn {
        --btn-c:var(--text);
       --btn-bg-c:var(--primary);
    }
    input.search { 
        background-color:var(--text); 
        color:var(--secondary);
    }
}